<%= form_for @comparison, url: comparisons_poverty_indicators_path, method: :get do |f| %>

  <div class="row">
    <div class="col-xs-4">
      <label for="indicator"><%= "#{t :indicator}:" %></label>
    </div>

    <div class="col-xs-4">
      <label for="indicator"><%= "#{t :indicator2}:" %></label>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-4">
      <%= f.select :indicator1,
                   options_for_select(PovertyIndicator.indicators.map { |i| [t(i, scope: :indicators), i] }, @comparison.indicator1),
                   {},
                   class: 'form-control', id: 'indicator' %>
    </div>

    <div class="col-xs-4">
      <%= f.select :indicator2,
                   options_for_select(PovertyIndicator.indicators.map { |i| [t(i, scope: :indicators), i] }, @comparison.indicator2),
                   {},
                   class: 'form-control', id: 'indicator' %>
    </div>

    <div class="col-xs-4">
      <button type="submit" class="btn btn-default"><%= t :show %></button>
    </div>
  </div>

<% end %>
