<%= form_for @comparison, url: comparisons_poverty_indicators_path, method: :get do |f| %>

  <div class="row">
    <div class="col-xs-5">
      <label for="indicator"><%= "#{t :indicator} 1:" %></label>
    </div>

    <div class="col-xs-5">
      <label for="indicator"><%= "#{t :indicator} 2:" %></label>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-5">
      <%= f.select :indicator1,
                   options_for_select(PovertyIndicator.indicators.map { |i| [t(i, scope: :indicators), i] }, @comparison.indicator1),
                   {},
                   class: 'form-control', id: 'indicator' %>
    </div>

    <div class="col-xs-5">
      <%= f.select :indicator2,
                   options_for_select(PovertyIndicator.indicators.map { |i| [t(i, scope: :indicators), i] }, @comparison.indicator2),
                   {},
                   class: 'form-control', id: 'indicator' %>
    </div>

    <div class="col-xs-2">
      <%= f.button t(:show),
                   class: 'btn btn-default',
                   data: { disable_with: '...' } %>
    </div>
  </div>

<% end %>
