<div class="page-header">
  <h1><%= t :indicator_comparison %></h1>
</div>

<%= render 'comparison_form' %>

<% unless @comparison.empty? %>

  <blockquote class="well large-separator">
    <p class="lead">
      <%= "#{t :correlation}: #{number_with_precision @comparison.correlation}" %>
    </p>
  </blockquote>

  <div class="row separator">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#map" role="tab" data-toggle="tab"><%= t :map %></a>
        </li>
        <li>
          <a href="#table" role="tab" data-toggle="tab"><%= t :table %></a>
        </li>
      </ul>

      <div class="tab-content separator">

        <div class="tab-pane" id="table">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>
                  <%= "#{t @comparison.indicator1, scope: :indicators} vs #{t @comparison.indicator2, scope: :indicators}" %>
                </th>
                <th>
                  <%= t :correlation %>
                </th>
              </tr>
            </thead>

            <tbody>
              <% @comparison.values.sort_by { |_, value| -value.abs }.each do |key, value| %>

                <tr>
                  <td><%= key %></td>
                  <td><%= number_with_precision value %></td>
                </tr>

              <% end %>
            </tbody>
          </table>
        </div>

        <div class="tab-pane active" id="map">
          <div id="map_container"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function () {

      var data = <%= raw HighchartMap.prepare_data(@comparison.values).to_json %>;

      $('#map_container').highcharts('Map', {
        title : {
          text : '<%= "#{t @comparison.indicator1, scope: :indicators} vs #{t @comparison.indicator2, scope: :indicators}" %>'
        },
        mapNavigation: {
          enabled: true
        },
        colorAxis: {
          min: null,
          max: null
        },
        series : [{
          data : data,
          mapData: Highcharts.maps['countries/mx/mx-all'],
          joinBy: 'hc-key',
          name: '<%= "#{t @comparison.indicator1, scope: :indicators} vs #{t @comparison.indicator2, scope: :indicators}" %>'
        }]
      });
    });
  </script>

<% end %>
