<div class="page-header">
  <h1><%= t :correlations %></h1>
</div>

<div class="row">
  <div class="col-xs-12">

    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#poverty" role="tab" data-toggle="tab">
          <%= t :pobreza, scope: :indicators %>
        </a>
      </li>

      <li>
        <a href="#poverty-e" role="tab" data-toggle="tab">
          <%= t :pobreza_e, scope: :indicators %>
        </a>
      </li>
      <li>
        <a href="#poverty-m" role="tab" data-toggle="tab">
          <%= t :pobreza_m, scope: :indicators %>
        </a>
      </li>
    </ul>

    <div class="tab-content separator">

      <div class="tab-pane active" id="poverty">
        <%= render 'correlations_table', comparison_indicator: 'pobreza' %>
      </div>

      <div class="tab-pane" id="poverty-e">
        <%= render 'correlations_table', comparison_indicator: 'pobreza_e' %>
      </div>

      <div class="tab-pane" id="poverty-m">
        <%= render 'correlations_table', comparison_indicator: 'pobreza_m' %>
      </div>
    </div>
  </div>
</div>
