<div class="page-header">
  <h1><%= t :indicator_by_state %></h1>
</div>

<div class="row">
  <%= render 'form' %>
</div>


<% unless @indicator.empty? %>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#table" role="tab" data-toggle="tab"><%= t :table %></a>
    </li>
    <li>
      <a href="#map" role="tab" data-toggle="tab"><%= t :map %></a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="table">
      <table class="table table-condensed">
        <thead>
        <tr>
          <td><%= t :state %></td>
          <td><%= t @indicator.indicator, scope: :indicators %></td>
        </tr>
        </thead>

        <tbody>
        <% @indicator.records.each do |row| %>

          <tr>
            <td><%= row.nom_ent %></td>
            <td><%= number_with_delimiter row.send(@indicator.indicator) %></td>
          </tr>

        <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="map">mapa</div>
  </div>

<% end %>
