<div class="page-header">
  <h1><%= t :indicator_by_state %></h1>
</div>

<%= render 'form' %>

<% unless @indicator.empty? %>

  <div class="row separator">
    <div class="col-xs-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#map" role="tab" data-toggle="tab"><%= t :map %></a>
        </li>
        <li>
          <a href="#table" role="tab" data-toggle="tab"><%= t :table %></a>
        </li>
      </ul>

      <div class="tab-content separator">

        <div class="tab-pane" id="table">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th><%= t :state %></th>
              <th><%= t @indicator.indicator, scope: :indicators %></th>
            </tr>
            </thead>

            <tbody>
            <% @indicator.values.sort_by { |_, value| -value }.each do |key, value| %>

              <tr>
                <td><%= key %></td>
                <td><%= number_with_precision value, delimiter: ',' %></td>
              </tr>

            <% end %>
            </tbody>
          </table>
        </div>

        <div class="tab-pane active" id="map">
          <div id="map_container"></div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(function () {

      var data = <%= raw HighchartMap.prepare_data(@indicator.values).to_json %>;

      $('#map_container').highcharts('Map', {
        title : {
          text : '<%= t @indicator.indicator, scope: :indicators %>'
        },
        mapNavigation: {
          enabled: true
        },
        colorAxis: {
          min: null,
          max: null
        },
        series : [{
          data : data,
          mapData: Highcharts.maps['countries/mx/mx-all'],
          joinBy: 'hc-key',
          name: '<%= t @indicator.indicator, scope: :indicators %>'
        }]
      });
    });
  </script>

<% end %>
